body {
    background-image: url("background.png");
    color: #FFFFFF;
    font-family: Roboto, sans;
    padding-bottom: 15px;
}

.logo {
    max-width: 60vw;
    height: auto;
}

.my-container {
    color: #FFFFFF;
    background-color: rgb(80, 80, 80);
    font-family: Roboto, sans;
    font-size: large;
    margin-top: 15px;
}

.my-container a {
    color: rgb(0, 180, 255);
}
.my-container a:hover {
    color: rgb(20, 200, 255);
}

.download {
    text-decoration: none;
    font-family: Orbitron, Roboto, sans;
    color: #FFFFFF !important;
    margin: 2px;
    border-radius: 0px;
}

.download-list {
    padding-left: 0px;
    list-style-type: none;
    text-align: center;
}

.my-info {
    background-color: rgb(37, 90, 100);
    color: rgb(95, 195, 210);
}

.my-info-link {
    color: rgb(140, 240, 255);
    font-weight: bold;
}
.my-info-link:hover {
    color: rgb(20, 200, 255);
    font-weight: bold;
}

.row {
    padding: 8px 0px;
}

.my-navbar {
    background-color: rgb(30, 30, 30);
    font-family: Roboto, sans;
    min-height: 80px;
}

.image {
    width: 100%;
    display: block;
}

.header {
    font-family: Orbitron, Roboto, sans;
    color: orangered;
}

.crewmate {
    background-color: rgb(100, 100, 100);
    text-align: center;
    padding: 10px;
    margin: 5px 0px;
    width: 100%;
}
