.button1{
    background-color:  cyan;
    height:70px;
    width:80px;
    position: absolute;
    left: 300;
    top: 9;
    border: 0;
}
.button1:hover {
    background-color: blue;
    color: white;
}
.button2{
    background-color: cyan;
    height:70px;
    width:80px;
    position: absolute;
    left: 385;
    top: 9;
    border: 0;
}
.button2:hover {
    background-color: blue;
    color: white;
}
.button3{
    background-color: cyan;
    height:70px;
    width:80px;
    position: absolute;
    left: 470;
    top: 9;
    border: 0;
}
.button3:hover {
    background-color:blue;
    color: white;
}
